<div class="movie-card">
  <div class="card-container-movie">
    <img height="250" src="{{image}}" alt="{{title}}"/>
  </div>  
  <div class="card-container">
    <h2>{{title}}</h2>
    <p>Director: {{director}}</p>
    <p>{{description}}</p>
    <div id="button-see-more">
      <a href="/movies/{{_id}}">See More</a>
    </div>
  </div>
</div>
